
/* Fixed background */
.bg-fixed {
  position: fixed;
  inset: 0;
  /* background-image: url("./assets/bg.JPG"); */
  background-image: url("./assets/bg1.png");
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  z-index: -1;
}

/* Scrollable content */
.bgg {
  position: relative;
  min-height: 100vh;
}

/* Mobile */
@media (max-width: 768px) {
  .bg-fixed {
    /* background-image: url("./assets/bgMob.png"); */
    background-image: url("./assets/bgMob1.png");
    background-position: center;
  }
}

